# Build and Release Folders
.pytest_cache
assets
*/__pycache__/


# Other files and folders
.settings/

# Report files
*.xml
*.html


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
